// Widescreens
@include mediaXl {
}

// Desktops & Laptops
@include mediaLg {
}

// Tablets & Small Laptops
@include mediaMd {
    
}

// Smartphones
@include mediaSm {
}

@include orientLand {
}

@media only screen and (min-width: 538px) {
    .testimonials__testimonial{
        padding-top: 1.9375rem;
        font-size: 0.6875rem;
        line-height: 0.8125rem;
        margin-right: 1.8125rem;
      
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3){
          padding-top: 0;
        }
        &:nth-child(3),
        &:nth-child(6){
          margin-right: 0;
        } 
      }
}

@media only screen and (max-width: 364px) {
    .section-testimonials__testimonials{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .testimonials__testimonial{
        margin-right: 0;
        padding-top: 1.9375rem;
        &:nth-child(odd){
            margin-right: 0;
        }
        &:nth-child(1),
        &:nth-child(2){
            padding-top: 1.9375rem;
        }
    }
}